In [1]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']

In [6]:
map(str.upper, my_pets)

In [7]:
list(map(str.upper, my_pets))

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [8]:
circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

In [10]:
result = list(map(round, circle_areas, range(1, 7)))
result

[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

In [11]:
from functools import reduce

In [12]:
numbers = [3, 4, 6, 9, 34, 12]

In [13]:
def custom_sum(first, second):
    return first + second

In [15]:
result = reduce(custom_sum, numbers)
print(result)

68

In [18]:
from sklearn.datasets import fetch_openml
import pandas as pd
import numpy as np

In [2]:
dataset = fetch_openml("iris")

/opt/homebrew/Caskroom/miniconda/base/lib/python3.10/site-packages/sklearn/datasets/_openml.py:301: UserWarning: Multiple active versions of the dataset matching the name iris exist. Versions may be fundamentally different, returning version 1.
  warn(
/opt/homebrew/Caskroom/miniconda/base/lib/python3.10/site-packages/sklearn/datasets/_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [5]:
dataset.data

     sepallength  sepalwidth  petallength  petalwidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]

In [23]:
def some_function(x):
    return np.std(x)

In [37]:
dataset.data.apply(np.std,axis=0, raw=True)

sepallength    0.825301
sepalwidth     0.432147
petallength    1.758529
petalwidth     0.760613
dtype: float64